body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    color: white;
    background-color: #2A9FD6;
    border: none;
}

.color-white {
    color: white !important;
}

hr {
    background-color: #2A9FD6;
}

.textbox-color01, .textbox-color01:active, .textbox-color01:focus, select, select:active, select:focus {
    color: white;
    background-color: #2A9FD6;
}

.align-left {
    float: left;
}

li.menu-item {
    margin: 0 10px 0 0;
}

.marginBtn{
    margin-bottom: 10px;
}

.FilterSearch{
    display: none;
}
/********************************************************************/
/* Navigation */
/********************************************************************/

/*Hamburger menu button*/

.divHam {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

/* navbar */

.linkClean {
    color: white !important;
    text-decoration: none !important;
    margin: 5px;
}

a, a:hover, a:active, a:focus, a:link {
    outline: 0px none !important;
}

.nav-item:hover{
    background-color: grey;
}

.linkClean:hover {
    background-color: grey;
}

/********************************************************************/
/* Carousel */
/********************************************************************/

.img-responsive{
    display: block;
    height: auto;
    width: 100%;
}