@{
    ViewBag.Title = "Access Denied";
}

<h2>Access Denied</h2>

<p class="text-warning">WARNING: You are not authorized to access this area!</p>
<p class="text-warning">You will be redirected to the Home page in 10 seconds or <a href="@Url.Action("Index", "Home")">click here</a> now</p>

<script>
    setTimeout(function () {
        window.location.replace('@Url.Action("Index", "Home")')
    }, 10000);
</script>