
@{
    ViewBag.Title = "About";
}

<h2>What are we all about at Game Topia!</h2>
<hr />
<div class="container">
    <p>
        Game Topia is all about video games. Weather they be console games, mobile games, or PC games.
        Game Topia aims to be a source of past, present, and upcoming games with details for each.
        The site not only is a host to a listing of video games, but also serves as a place for users to
        leave comments or reviews about the games listed on the website. The deveolper of Game Topia hopes
        expands the web app further in the future.
    </p>
</div>


