
@{
    ViewBag.Title = "ContactUs";
}

<h2>Get in touch with us</h2>
<hr />
<div class="container">
    <p>
        For account upgrade or any questions, please contact us at <a href="mailto:gameTopiaContact@gmail.com">gameTopiaContact@gmail.com</a>.
    </p>
</div>

