@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GameTopia!</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Welcome</h2>
        <p>
            Video Games are only becoming more and more popular. The purpose of this
            website is to have a singular place for users to come to view new or upcoming games,
            that they can then write reviews on that all users can view.
        </p>
        <hr />
        <h2>Get Started!</h2>
        @if (User.IsInRole("Site Admin") || User.IsInRole("Video Game Admin") || User.IsInRole("Reviewer") || User.IsInRole("Guest"))
        {
            <p>View the video game library by clicking the button below.</p>
            <button type="button" onclick="location.href='@Url.Action("Index", "VideoGamesList")'" class="btn btn-primary">View Library</button>
        }
        else
        {
            <p>Please Login or Register to gain more access to the site</p>
            <button type="button" onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-primary">Register</button>
        }
        @*gallery slide show*@
        <div class="home-page-gallery">
            <div class="carousel slide multi-item-carousel" id="theCarousel" data-interval="false">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-xs-4">
                            <a href="~/Content/Images/cuphead.png" data-toggle="lightbox" data-gallery="multiimages" data-title="Image 1">
                                <img src="~/Content/Images/cuphead.png" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4">
                            <a href="~/Content/Images/ds3.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Image 2">
                                <img src="~/Content/Images/ds3.jpg" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4">
                            <a href="~/Content/Images/mgs5.png" data-toggle="lightbox" data-gallery="multiimages" data-title="Image 3">
                                <img src="~/Content/Images/mgs5.png" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4">
                            <a href="~/Content/Images/Portal2.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Image 4">
                                <img src="~/Content/Images/Portal2.jpg" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4">
                            <a href="~/Content/Images/superMarioOdyssey.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Image 4">
                                <img src="~/Content/Images/superMarioOdyssey.jpg" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <h4 class="text-center">Join the community Discord</h4>
        <iframe src="https://discordapp.com/widget?id=424343092905115649&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
</div>
