@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Video Game Library</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>What do we have here!?</h2>
        <p>
            Video Games are only becoming more and more popular. This website aims to
            help keep your library up to date and hold all the infomation about the
            games you love to enjoy and play.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Get Started!</h2>
        <p>View the video game library by clicking the button below.</p>
        <button type="button" onclick="location.href='@Url.Action("Index", "VideoGame")'" class="btn btn-primary">View Library</button>
    </div>
</div>