@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GameTopia!</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Welcome</h2>
        <p>
            Video Games are only becoming more and more popular. The purpose of this
            website is to have a singular place for users to come to view new or upcoming games,
            that they can then write reviews on that all users can view.
        </p>
        <hr />
        <h2>Get Started!</h2>
        <p>View the video game library by clicking the button below.</p>
        <button type="button" onclick="location.href='@Url.Action("Index", "VideoGames")'" class="btn btn-primary">View Library</button>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Join the community Discord</h2>
        <iframe src="https://discordapp.com/widget?id=424343092905115649&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
</div>